<div class="container">
  <h1 class="title">
    {{ 'pages.home.title' | translate }}
  </h1>

  <div class="configs">
    <div *ngFor="let c of configs" [ngClass]="c.status">
      <button [disabled]="c.status !== 'stopped' && c.status !== 'active'" class="button" [class.primary]="c.status !== 'active'" (click)="toggle(c)">
        <span *ngIf="c.status === 'active'">{{ 'pages.home.stop' | translate }}</span>
        <span *ngIf="c.status !== 'active'">{{ 'pages.home.start' | translate }}</span>
        <!-- <span *ngIf="c.status !== 'stopped' && c.status !== 'active'">{{ 'pages.home.working' | translate }}</span> -->
        
      </button>
      {{ c.name }} <span *ngIf="c.status !== 'stopped'">- {{ 'actions.' + c.status | translate }}</span>

    </div>
  </div>

  <button class="button" (click)="addConfig()">{{ 'pages.home.button-add' | translate }}</button>

  <div class="docker-containers">
    <span class="container-title">{{ 'pages.home.running' | translate }}</span>
     <span class="tag" *ngFor="let c of containers">{{c.name}}</span>
  </div>
</div>
